/* Estilos para el cajón (drawer) */
.drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    overflow-x: hidden;
    transition: 0.5s; /* Transición suave */
  }
  
  /* Estilos para el contenido del cajón */
  .drawer-content {
    width: 300px; /* Ancho del cajón */
    height: 100%;
    background-color: #f1f1f1; /* Color de fondo del cajón */
    padding: 20px; /* Espacio interno */
  }
  
  /* Estilos para el botón de cerrar */
  #close-drawer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  nav ul {
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    justify-content: flex-end; /* Alineamos los elementos al final (derecha) */
  }
  